src/main/resources/static/bus-stop-data.xml1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ResponseOfPwsResult" type="ResponseOfPwsResultType"/>
  <xs:complexType name="ResponseDataType">
    <xs:sequence>
      <xs:element ref="pws:Version" xmlns:pws="http://api.sl.se/api/pws"/>
      <xs:element ref="pws:Type" xmlns:pws="http://api.sl.se/api/pws"/>
      <xs:element ref="pws:Site" maxOccurs="unbounded" minOccurs="0" xmlns:pws="http://api.sl.se/api/pws"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResponseOfPwsResultType">
    <xs:sequence>
      <xs:element type="xs:string" name="StatusCode"/>
      <xs:element type="xs:string" name="ExecutionTime"/>
      <xs:element type="ResponseDataType" name="ResponseData"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>